.btn_SignDetection{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 165px;
    height: 60px;
    border-radius: 30px;
    background: #B58DED;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
    cursor: pointer;
}