.background {
    background-image: url('./background.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100vw; 
  }

  body {
    overflow: hidden;
    font-family: 'Segoe UI', bold;
  }

  canvas{
    height: 150vh;
  }